.wrapper {
    --search-button-width: 52px;

    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}
.inner {
    height: 100%;
    width: var(--default-layout-width);
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search, 
.search-result {
    width: 361px;
}
.search {
    height: 46px;
    background: rgba(22, 24, 35, .06);
    border-radius: 92px;
    border: 1.5px solid transparent;
    padding-left: 16px;
    display: flex;
    overflow: hidden;
    position: relative;

    input {
        background-color: transparent;
        height: 100%;
        flex: 1;
        font-size: 1.6rem;
        color: var(--black);
        caret-color: var(--primary);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: "";
        position: absolute;
        width: 1px;
        height: 28px;
        top: 9px;
        right: var(--search-button-width);
        background: rgba(22, 24, 35, .12);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}
.search-btn {
    width: var(--search-button-width);
    height: 46px;
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);

    &:hover {
        background: rgba(22, 24, 35, .03);
        cursor: pointer;
    }

    &:active {
        background: rgba(22, 24, 35, .06);
    }
}
.clear, 
.loading {
    position: absolute;
    top: 50%;
    right: calc(var(--search-button-width) + 13px);
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}
.search-title {
    height: 30px;
    padding: 5px 12px;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}

// Actions
.actions {
    display: flex;
    align-items: center;
}
.actions-btn {
    display: block;
    width: 26px;
    height: 26px;
    background-color: transparent;
    font-size: 2rem;
    cursor: pointer;

    + .actions-btn {
        margin-left: 10px;
    }
}
.user-avatar {
    width: 32px;
    height: 32px;
    margin-left: 18px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}
.menu-btn {
    font-size: 2rem;
    padding: 4px 8px;
    margin-left: 28px;
    background-color: transparent;
    cursor: pointer;
}